body {
    margin: 0;
    font-family: "Inter", serif;
}


img {
    width: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-direction: row;
}

.grid-col {
    flex: 1;
    padding: 0 .1em;
    display: block;
}

.grid-col--2,
.grid-col--3 {
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        margin: 3em 0;
    }

    .grid-col--2 {
        display: block;
    }

    .grid-col {
        padding: 0 .5em;
    }

    img {
        margin-bottom: .8em;
    }

    .grid-item:hover {
        cursor: pointer;
    }
}

@media (min-width: 1080px) {
    .grid-col--3 {
        display: block;
    }

    .container {
        width: 80%;
    }

    h1 {
        margin: 5em 0;
    }
}

nav li {
    list-style: none;
    display: inline;
    margin: 10px;
    padding:0px;
}

a {
    text-decoration: none;
    color: #A9A9A9;
}

nav {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 32px;
}

a:hover {
    color: #7D7F7C;
    display:inline-block;
}

/* Create a right-aligned (split) link inside the navigation bar */
nav li a.split {
    color: #A9A9A9;
    position: absolute;
    right: 100px;
}


/*
    code from https://getcssscan.com/css-buttons-examples button 28

*/

#uploadButton {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

#uploadButton:disabled {
    pointer-events: none;
}

#uploadButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.uploadButton:active {
    box-shadow: none;
    transform: translateY(0);
}



