* {
    font-family: "Inter", serif;
}

h3, p {
    color: white;
}

h3, p, img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    background: #2d3641;
}

.grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;

}

.topnav {
    background-color: #333;
    overflow: hidden;
    padding: 10px 20px;
}

.topnav a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 16px;
}

.topnav a.split {
    float: right;
}

.topnav a:hover {
    background-color: #575757;
}

img {
    box-shadow: 0px 10px 5px;
    transition: transform .2s;
    height: 150px;
    width: auto;
    cursor: pointer;
}

img:hover {
    transform: scale(1.025);
}